<%- include('../partials/header') -%>
<body>

    <div class="container">
    <h1>Attendance Report - <%= moduleName %></h1>
    <p style="color: red;">Nothe this seems to be wrong its counting the number of times students were in 
    <br>It should count the no of times the module occurred! 
    <br>So it is counting the total number of attendances of all students not the days the module occurred.
    </p>
    <p style="color: green;">This issue seems to have been fixed 21/4/2024 but needs further testing</p>
    <h1>No Of Classes So Far - <%= totalUniqueDates %></h1>
    

    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>No</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <% attendanceReport.forEach(student => { %>
                <tr>
                    <td><%= student.fname %> <%= student.sname %></td>
                    <td><%= student.daysOccurred %></td>
                    <td><%= student.percentage.toFixed(2) %>%</td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    </div>
</body>
</html>
