<%- include('../partials/header') -%>
      <div class="container">
 
    <h1>Class Groups Attendance Grids</h1> 
    <p>Pick a class to see the attendance grid.</p>

        
    <table>
        <thead>
            <tr>
                <th>Class Group</th>
                <th>Attendance Link</th>
            </tr>
        </thead>
        <tbody>
            <% classNames.forEach(item => { %>
                <tr>
                    <td><%= item %></td>
                    <td><a href="/classmodules/<%= item %>" >View All <%= item %> Modules</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>


<%- include('../partials/footer') -%>
</body>
</html>
