<%- include('../partials/header') -%>
<body>

    
 


<div class="container">
 
  <h1>Class Groups Attendance Statistics</h1> 
  <p>Pick a class to see the attendance individula module statistics.</p>
  <table>
      <thead>
          <tr>
              <th>Class Group</th>
              <th>Attendance Link</th>
          </tr>
      </thead>
      <tbody>
          <% results.forEach(className => { %>
              <tr>
                  <td><%= className.class %></td>
                  <td><a href="/individualgroupmodules/<%= className.class %>">View All <%= className.class %> Modules</a></td>
              </tr>
          <% }); %>
      </tbody>
  </table>
</div>


<%- include('../partials/footer') -%>
</body>