<%- include('../partials/header') -%>

<!-- classgroups.ejs -->
<div class="container">
<h1>Attendance Statistics For <%= className %></h1>
<p>These are the modules for <%= className %> grouped per day. 
    <br>If you pick on any of the links you will see the % 
of overall attendance for each student in this group for the particular module.
</p>


    <div class="rcontainer">
        
        <% const daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']; %>
        <% daysOfWeek.forEach(day => { %>
            <div class="flex-item">
                <h2><%= day %></h2>
                
                    <% schedule.filter(item => item.dayOfWeek === day).forEach(item => { %>
                        <a href="/attendance_report/<%= className %>/<%= item.moduleName %>"><%= item.moduleName %></a></br>
                    <% }); %>
               
            </div>
        <% }); %>
   
  
    </div>
   
 

</div>




<%- include('../partials/footer') -%>