<%- include('../partials/header') -%>
<div class="container">
<!-- classgroups.ejs -->
<h1>Manual Attendance Modules for <%= className %></h1>
<p>Select the module you want to manually modify the attendance for.</p>


    <div class="rcontainer">
        
        <% const daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']; %>
        <% daysOfWeek.forEach(day => { %>
            <div class="flex-item">
                <h2><%= day %></h2>
              
                    <% schedule.filter(item => item.dayOfWeek === day).forEach(item => { %>
                        <a href="/manualattendance/<%= className %>/<%= item.moduleName %>"><%= item.module %> <%= item.moduleName %></a></br>
                    <% }); %>
               
            </div>
        <% }); %>
   
  
   
   
 

</div>

</div>


<%- include('../partials/footer') -%>