<%- include('../partials/header') -%>

<!-- classgroups.ejs -->
<div class="container">
<h1>Modules for Class <%= className %> Attendance Grids</h1>
<p>Below are all the modules for <%= className %>. Click on any module to see all student attendance in this module so far this Academic Year</p>


    <div class="rcontainer">
        
        <% const daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']; %>
        <% daysOfWeek.forEach(day => { %>
            <div class="flex-item">
                <h2><%= day %></h2>
              
                    <% schedule.filter(item => item.dayOfWeek === day).forEach(item => { %>
                        <a href="/attendance_grid/<%= className %>/<%= item.moduleName %>"><%= item.moduleName %></a></br>
                    <% }); %>
               
            </div>
        <% }); %>
   
  
   
   
 

</div>

</div>


<%- include('../partials/footer') -%>