
<%- include('../partials/header') -%>
<div class="container">
 


<h1>All Students In Class</h1> 


<table>
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Attendance Link</th>
            
        </tr>
    </thead>
    <tbody>
        <% result.forEach(student => { %>
            <tr>
                <td><%= student.fname %> <%= student.fullname %> (<%= student.studentNo %>)</td>
                <td><a href="/overallattendance/<%= student.class %>/<%= student.studentNo %>">Click For Attendance</a></td>
                
            </tr>
        <% }); %>
    </tbody>
</table>



</div>


<div class="rcontainer">

    
<% result.forEach(item => { %>
    <div class="flex-item">
    <h2><%= item.fullname %></h2>
    
    <p>Class: <%= item.class %></p>
    <p>Student Number: <%= item.studentNo %></p>
    <a href="/overallattendance/<%= item.class %>/<%= item.studentNo %>">Click For Attendance</a>
</div>
    <% }); %>
    

</div>

<%- include('../partials/footer') -%>
</body>
</html>

   